body {background-image: url("image/WP_20130714_002.jpg");
background-size:25%;
    background-position: center;
background-repeat: no-repeat;
    padding: 50px;


        background-attachment: scroll;}
table {border-spacing: 60px 20px;
    border: 5px solid blue;

border-collapse: separate;
    empty-cells: show;
    caption-side: bottom;
}
th {border: 1px solid red;padding: 10%;}
td {border: 3px solid black;}

th,td{text-align:center;
letter-spacing: 10px;font-family: fantasy;}
.customers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

.customers td, .customers th
{
    font-size:1em;
    text-align:center;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

.customers th
{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

.customers tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}
ul {list-style: upper-alpha;}
