body {background-image: url("image/WP_20130714_002.jpg");
background-size: 20%;
    background-position: 250px 140px;
background-repeat: no-repeat;
    padding: 30px;


        background-attachment: fixed; }